/* Style du conteneur principal */
.cart-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #FBFBFB;
    border-radius: 8px;
    text-align: center;
   }

.cart-container h1 {
    font-size: 28px;
    color: #010101;
    margin-bottom: 20px;
}

.cart-container p {
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    margin-top: 20px;
}

.cart-table th {
    background: #65451F;
    color: #FBFBFB;
    padding: 12px;
    text-align: center;
}

.cart-table td {
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
}

/* Si vrac : boutons de quantité + et - */
.quantity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quantity-container button {
    background: #65451F;
    color: #FBFBFB;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.quantity-container button:hover {
    background: #46341F;
}

/* Liste déroulante pour le vrac */
select {
    border-radius: 5px;
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn svg {
    color: red;
    font-size: 20px;
}

.delete-btn:hover svg {
    color: darkred;
}

.cart-total {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}


@media (max-width: 768px) {
    .cart-container {
        width: 95%;
        padding: 15px;
    }

    .cart-table th,
    .cart-table td {
        font-size: 14px;
        padding: 8px;
    }

    .quantity-container button {
        padding: 4px 8px;
        font-size: 14px;
    }
}
