.deliveryMethod-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #FBFBFB;
    border-radius: 8px;
    text-align: center;
}

.deliveryMethod-container h2 {
    font-size: 28px;
    color: #010101;
    margin-bottom: 20px;
}

.radio-container {
    display: block;
    margin-bottom: 30px;
}

.deliveryMethod-container p {
    font-size: 20px;
}

.deliveryMethod-label {
    font-size: 20px;
    font-weight: bold;
}

.deliveryMethod-mb {
    margin-bottom: 30px;
}