/***********************************************************
************************************************************
RESET DU CSS
************************************************************
***********************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Import de la police sur google font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poetsen+One&display=swap');


/***********************************************************
************************************************************
STYLE DIV
************************************************************
***********************************************************/
.flex {
    display: flex;
}


p,
a,
th,
td,
select,
label {
    font-family: "Oswald";
    font-size: 20px;
}

h1,
h2,
h3 {
    font-family: "Oswald";
}


/* Style du bouton */
.details-btn {
    background-color: #65451F;
    color: #FBFBFB;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.details-btn:hover {
    background-color: #46341F;
}

.petit-btn {
    background-color: #65451F;
    color: #FBFBFB;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

/***********************************************************
************************************************************
LIENS
************************************************************
***********************************************************/

/* Style des liens */
 a {
    text-decoration: none;
}

 body {
     background-color: #EBD2B2;
 }

/***********************************************************
************************************************************
MESSAGE
************************************************************
***********************************************************/

/* Message de succès */
.msgSucces {
background-color: #008000;
color: #fafafa;
padding: 10px;
border-radius: 5px;
font-weight: bold;
margin-top: 10px;
display: flex;
justify-content: center;
}



/* Message d'erreur */
.msgError {
    background-color: #fa9d9d;
    color: #860000;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}



.block {
    display: block;
    margin-bottom: 10px;
}

