/* Conteneur principal */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    border-radius: 8px;
    width: 100px;
}

/* Connexion et panier */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Style des liens */
.header a {
    color: black;
    font-weight: bold;
}

 /*Style des boutons*/
.header button {
    background-color: #65451F;
    color: #FBFBFB;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.header button:hover {
    background-color: #46341F; /* Couleur au survol */
}