/* Conteneur principal */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
}

.logo {
    border-radius: 8px;
    width: 100px;
}

/* Icônes */
.header {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 20;
}

/* Style des liens */
.header a {
    color: #FBFBFB;
    font-weight: bold;
    font-size: 12px;
}

 /*Style des boutons*/
.header button {
    background-color: #65451F;
    color: #FBFBFB;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.header button:hover {
    background-color: #46341F;
}

/* Style des icônes */
.header-icon {
    color: #FBFBFB;
    font-size: 22px;
}

/* Menu burger */
.burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 780px) {
    .logo {
        width: 60px;
    }

    .header-icon {
        font-size: 16px;
    }
}

@media (max-width: 520px) {
    .burger-menu {
        display: block;
    }

    .burger-icon {
        background-color: #65451F;
        color: #FBFBFB;
        border: none;
        padding: 8px 10px;
        border-radius: 4px;

    }

    .header {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #65451F;
        width: 100px;
        padding: 10px;
        border-radius: 4px;
    }

    .header.open {
        display: flex;
    }

    .header button {
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
}