/* Style du conteneur principal */
.login-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #FBFBFB;
    border-radius: 8px;
    text-align: center;
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-container button {
    margin-top: 10px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login p, a {
    font-size: 16px;
    margin-top: 10px;
}

.login a {
    color: #010101;
}

@media (max-width: 880px) {
    .login {
        flex-direction: column;
        gap: 30px;
    }
}