/* Style du conteneur principal */
.order-details-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #FBFBFB;
    border-radius: 8px;
    text-align: center;
    color: #010101;
}

.order-details-container p {
    margin: 10px;
}

.order-details-container h1 {
    font-size: 28px;
    margin: 20px;
}

.order-details-container h2 {
    font-size: 24px;
    margin: 20px 0 30px 0;
}

.detail-table {
    width: 90%;
    margin: 40px auto 20px auto;
}

.detail-table th {
    background: #65451F;
    color: #FBFBFB;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.detail-table td {
    padding: 10px;
    border-top: 1px solid #D9D9D9;
    text-align: center;
    font-size: 16px;
}

.total-TTC {
    font-weight: bold;
}

@media (max-width: 530px) {

    .detail-table th,
    .detail-table td {
        font-size: 14px;
        padding: 8px;
    }

    .btn-detail {
        padding: 8px 12px;
        font-size: 14px;
    }
}