/* Conteneur global */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.banniere {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.coffret {
    background-image: url("/public/coffret.png");
    /*background-position: right center;*/
}

.selection {
    background-image: url("/public/selection.png");
    /*background-position: left center;*/
}

.coffret,
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    font-weight: bold;
    background-color: #EBD2B266;
    background-blend-mode: overlay;
    background-position: center;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.coffret:hover,
.selection:hover {
    /* Animation d'élévation au survol */
    transform: translateY(-5px);
    /* L'ombre est plus marquée */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    background-color: #EBD2B250;
}


/* élément commun aux 2 div (texte et image) */
.coffret p,
.selection p {
    text-align: center;
    font-size: 35px;
    z-index: 10;
    opacity: 1;
}

.coffret p {
    margin-right: 15px;
}

.selection p {
    margin-left: 15px;
}

.product-list-container h1 {
    margin: 50px 0 20px 0;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}



@media (max-width: 1000px) {
    .banniere {
        flex-direction: column;
        align-items: center;
    }
}