/* Style général de la carte produit */
.product-card {
    border-radius: 8px;
    /* Ombre autour de la carte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    /* Animation d'élévation au survol */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(33% - 20px);
    max-width: 300px;
    margin: 10px;
    box-sizing: border-box;
    /* Cible uniquement le h3 puisque le p a son CSS (évite d'écrire plus de code en faisant ainsi)*/
    font-weight: bold;
}

.product-card h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.product-card p {
    margin-bottom: 15px;
    color: #010101;
    font-weight: normal;
    font-size: 16px;
}

.product-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px ;
    margin-bottom: 15px;
}


/* Background en fonction de la catégorie du produit */

/* Thé */
.product-card-1 {
    background-color: #D0C3A1;
    color: #044119;
}

/* Café */
.product-card-2 {
    background-color: #C8AE7D;
    color: #451c0a;
    /*color: #461B0A;*/
}

/* Accessoires */
.product-card-3 {
    background-color: #AEAEAE;
    color: #141414;
}


/* Effet au survol de la carte */

.product-card:hover {
    /* Animation d'élévation au survol */
    transform: translateY(-5px);
    /* L'ombre est plus marquée */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* Thé */
.product-card-1:hover {
    background-color: #BDB193;
}

/* Café */
.product-card-2:hover {
    background-color: #B29B6E;
}

/* Accessoires */
.product-card-3:hover {
    background-color: #9E9E9E;
}

.gap {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .gap{
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%;
    }
}