/* Conteneur global */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.banniere {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.coffret {
    background-image: url("/public/coffret.png");
    background-position: right center;
    text-align: end;
}

.selection {
    background-image: url("/public/selection.png");
    background-position: left center;
}

.coffret,
.selection {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    font-weight: bold;
    filter: opacity(75%);
}

/* élément commun aux 2 div (texte et image) */
.coffret p,
.selection p {
    font-size: 35px;
    margin-top: 25%;
    color: #000000;
}

.coffret p {
    margin-right: 15px;
}

.selection p {
    margin-left: 15px;
}

.product-list-container h1 {
    margin: 50px 0 20px 0;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .banniere {
        flex-direction: column;
    }

    .coffret,
    .selection {
        background-position: center;
        text-align: center;
    }
}